.vs/Ore Randomizer/v17/.futdcache.v2
.vs/ProjectEvaluation/ore randomizer.metadata.v5.2
.vs/ProjectEvaluation/ore randomizer.projects.v5.2
.vs/Ore Randomizer/FileContentIndex/0803ae68-cf70-465b-8287-042cde6fabbe.vsidx
.vs/Ore Randomizer/FileContentIndex/19f2456a-c427-415a-88a9-cac723ab3ac8.vsidx
.vs/Ore Randomizer/FileContentIndex/259fc572-e694-4508-8505-dbdc46df92a0.vsidx
.vs/Ore Randomizer/FileContentIndex/a818f78b-8410-4836-b1fe-7b90b5eab231.vsidx
.vs/Ore Randomizer/v17/.suo
bin/Debug/net6.0-windows/Ore Randomizer.dll
bin/Debug/net6.0-windows/Ore Randomizer.pdb
obj/Ore Randomizer.csproj.nuget.dgspec.json
obj/Debug/net6.0-windows/Ore Randomizer.assets.cache
obj/Debug/net6.0-windows/Ore Randomizer.csproj.FileListAbsolute.txt
obj/Debug/net6.0-windows/Ore Randomizer.dll
obj/Debug/net6.0-windows/Ore Randomizer.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/Ore Randomizer.genruntimeconfig.cache
obj/Debug/net6.0-windows/Ore Randomizer.pdb
obj/project.assets.json
obj/project.nuget.cache
.vs/Ore Randomizer/FileContentIndex/1bef0024-dbb6-49a1-8104-3cc97ea58ef5.vsidx
.vs/Ore Randomizer/FileContentIndex/2f748c68-5095-4b76-a786-369669c5df90.vsidx
.vs/Ore Randomizer/FileContentIndex/63481ac5-35ed-47bc-8afc-eb81189ad131.vsidx
.vs/Ore Randomizer/FileContentIndex/4c86d6e8-7d7a-4b56-b7cd-334233c2902e.vsidx
.vs/Ore Randomizer/FileContentIndex/6415eab9-db5e-4275-a2a1-e123cd19b72a.vsidx
